﻿@{
    ViewData["Title"] = "Yeni Liste Oluştur";
}

<div class="text-center">
    <h1 class="display-4">Listelerim</h1>
    <hr />
    <div class="text-left">
        <h5 class="display-8">Yeni Liste Oluşturun</h5>

        <form>
            <div class="form-group">
                <label for="title">Başlık</label>
                <input type="text" class="form-control" id="title" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="description">Açıklama</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <a href="javascript:void(0);" class="btn btn-primary" id="btnAdd">Ekle</a>
        </form>
    </div>
    <script>
        $('#btnAdd').on('click', function () {
            let title = $('#title').val();
            let description = $('#description').val();

            postApi("/api/TodoList",
                { title: title, description: description },
                function (response) { window.location = "/TodoList"; },
                function (error) { console.log("error => ", error); }
            );
        });
    </script>
</div>
