﻿@{
    ViewData["Title"] = "Liste Düzenle";
}

<div class="text-center">
    <h1 class="display-4">Listelerim</h1>
    <hr />
    <div class="text-left">
        <h5 class="display-8">Liste Düzenleyin</h5>

        <form>
            <input type="hidden" id="id" />
            <div class="form-group">
                <label for="title">Başlık</label>
                <input type="text" class="form-control" id="title" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="description">Açıklama</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="title">Durumu</label>
                <select id="status" class="form-control">
                    <option value="Active">Aktif</option>
                    <option value="Completed">Tamamlandı</option>
                </select>
            </div>
            <a href="javascript:void(0);" class="btn btn-primary" id="btnUpdate">Kaydet</a>
            <a class="btn btn-outline-info text-info" asp-area="" asp-controller="TodoList" asp-action="Index" asp-route-listId="@ViewBag.TodoListId">Görev Listesi Sayfasına Dön</a>
        </form>
    </div>
    <script>
        getApi("/api/TodoList/@ViewBag.TodoListId",
                function (response) {
                    $('#id').val(response.data.todoList.id);
                    $('#title').val(response.data.todoList.title);
                    $('#description').val(response.data.todoList.description);
                    $('#status option[value="' + response.data.todoList.status + '"]').attr('selected', 'selected');
                },
                function (error) {  }
            );



        $('#btnUpdate').on('click', function () {
            let id = $('#id').val();
            let title = $('#title').val();
            let description = $('#description').val();
            let status = $('#status').val() == "Completed" ? 2 : 1;

            putApi("/api/TodoList/@ViewBag.TodoListId",
                { id: "@ViewBag.TodoListId", title: title, description: description,status:status },
                function (response) { window.location = "/TodoList";},
                function (error) {  }
            );
        });
    </script>
</div>
