﻿@{
    ViewData["Title"] = "Listelerim";
}

<div class="text-center">
    <h1 class="display-4">Listelerim</h1>
    <hr />
    <div class="text-left">
        <h4 class="display-8">Listelerinizi Yönetin</h4>
        <a class="btn btn-outline-info text-info" asp-area="" asp-controller="TodoList" asp-action="Index">Yeniden Yükle</a>
        <a class="btn btn-outline-secondary text-dark" asp-area="" asp-controller="TodoList" asp-action="Add">Liste Oluştur</a>

        <div id="todoLists" class="row"></div>
    </div>
    <script>
        function getTodoLists() {
            getApi("/api/TodoList",
                function (response) {
                    let todoListInnerData = "";
                    response.data.todoLists.forEach((list) => {
                        todoListInnerData += '<div class="col-md-4 mt-3">';
                        todoListInnerData += '<div class="card" style="width: 18rem;">';
                        todoListInnerData += '<div class="card-body">';
                        if (list.status == "Active") {
                            todoListInnerData += '<span class="badge badge-primary right">' + list.statusText + '</span>';
                        }
                        else {
                            todoListInnerData += '<span class="badge badge-success right">' + list.statusText + '</span>';
                        }
                        todoListInnerData += '<h5 class="card-title">' + list.title + '</h5>';
                        todoListInnerData += '<p class="card-text">' + list.description + '</p>';
                        todoListInnerData += '<div class="btn-group" role="group" aria-label="">';
                        todoListInnerData += '<a href="/TodoItem?listId=' + list.id + '" class="btn btn-outline-info">İncele</a>';
                        todoListInnerData += '<a href="/TodoList/Edit/' + list.id + '" class="btn btn-outline-primary">Düzenle</a>';
                        todoListInnerData += '<a href="javascript:void(0);" class="btn btn-outline-danger btnDelete" todolist-id="' + list.id + '">Sil</a>';
                        todoListInnerData += '</div>';
                        todoListInnerData += '</div>';
                        todoListInnerData += '</div>';
                        todoListInnerData += '</div>';
                    });
                    $('#todoLists').empty();
                    $('#todoLists').wrapInner(todoListInnerData);
                },
                function (error) { console.log("error => ", error); }
            );
        }

        getTodoLists();

        $(document).on("click", ".btnDelete", function () {
            let id = $(this).attr("todolist-id");

            deleteApi("/api/TodoList/" + id,
                function (response) {
                    getTodoLists();
                },
                function (error) { console.log("error => ", error); }
            );
        });

    </script>
</div>
