﻿@{
    ViewData["Title"] = "Yeni Görev Oluştur";
}

<div class="text-center">
    <h1 class="display-4">Görevlerim</h1>
    <hr />
    <div class="text-left">
        <h5 class="display-8">Yeni Görev Oluşturun</h5>

        <form>
            <div class="form-group">
                <label for="title">Başlık</label>
                <input type="text" class="form-control" id="title" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="description">Not</label>
                <textarea class="form-control" id="note" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="title">Bitiş Tarihi</label>
                <input type="text" class="form-control" id="dueDate" placeholder="Bitiş Tarihi">
            </div>
            <div class="form-group">
                <label for="title">Hatırlama Tarihi</label>
                <input type="text" class="form-control" id="reminderDate" placeholder="Hatırlama Tarihi">
            </div>
            <a href="javascript:void(0);" class="btn btn-primary" id="btnAdd">Ekle</a>
            <a class="btn btn-outline-info text-info" asp-area="" asp-controller="TodoItem" asp-action="Index" asp-route-listId="@ViewBag.TodoListId">Görevler Sayfasına Dön</a>
        </form>
    </div>
    <script>
        $(function () {
            $('#dueDate,#reminderDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm:ss'
            });
        });

        $('#btnAdd').on('click', function () {
            let title = $('#title').val();
            let note = $('#note').val();
            let dueDate = $('#dueDate').val();
            let reminderDate = $('#reminderDate').val();

            postApi("/api/TodoItem",
                { listId: "@ViewBag.TodoListId", title: title, note: note,dueDate:dueDate,reminderDate:reminderDate },
                function (response) { window.location = "/TodoItem?listId=@ViewBag.TodoListId"; },
                function (error) { console.log("error => ", error); }
            );
        });
    </script>
</div>
