﻿@{
    ViewData["Title"] = "Görev Düzenle";
}

<div class="text-center">
    <h1 class="display-4">Görevlerim</h1>
    <hr />
    <div class="text-left">
        <h5 class="display-8">Görev Düzenleyin</h5>

        <form>
            <input type="hidden" id="id" />
            <div class="form-group">
                <label for="title">Başlık</label>
                <input type="text" class="form-control" id="title" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="description">Not</label>
                <textarea class="form-control" id="note" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="title">Bitiş Tarihi</label>
                <input type="text" class="form-control" id="dueDate" placeholder="Bitiş Tarihi">
            </div>
            <div class="form-group">
                <label for="title">Hatırlama Tarihi</label>
                <input type="text" class="form-control" id="reminderDate" placeholder="Hatırlama Tarihi">
            </div>
            <div class="form-group">
                <label for="title">Durumu</label>
                <select id="status" class="form-control">
                    <option value="Active">Aktif</option>
                    <option value="Completed">Tamamlandı</option>
                </select>
            </div>
            <a href="javascript:void(0);" class="btn btn-primary" id="btnUpdate">Kaydet</a>
            <a class="btn btn-outline-info text-info" asp-area="" asp-controller="TodoItem" asp-action="Index" asp-route-listId="@ViewBag.TodoListId">Görevler Sayfasına Dön</a>
        </form>
    </div>
    <script>
        $(function () {
            $('#dueDate,#reminderDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm:ss'
            });
        });

        getApi("/api/TodoItem/@ViewBag.TodoItemId",
                function (response) {
                    $('#id').val(response.data.todoItem.id);
                    $('#title').val(response.data.todoItem.title);
                    $('#note').val(response.data.todoItem.note);
                    $('#dueDate').val(response.data.todoItem.dueDate);
                    $('#reminderDate').val(response.data.todoItem.reminderDate);
                    $('#status option[value="' + response.data.todoItem.status+'"]').attr('selected', 'selected');
                },
                function (error) {  }
            );



        $('#btnUpdate').on('click', function () {
            let id = $('#id').val();
            let title = $('#title').val();
            let note = $('#note').val();
            let dueDate = $('#dueDate').val();
            let reminderDate = $('#reminderDate').val();
            let status = $('#status').val() == "Completed" ? 2 : 1;

            putApi("/api/TodoItem/@ViewBag.TodoItemId",
                { id: "@ViewBag.TodoItemId", title: title, note: note,dueDate:dueDate,reminderDate:reminderDate,status:status },
                function (response) { window.location = "/TodoItem?listId=@ViewBag.TodoListId"; },
                function (error) {  }
            );
        });
    </script>
</div>
