﻿@{
    ViewData["Title"] = "Listelerim";
}

<div class="text-center">
    <h1 class="display-4">Görevlerim</h1>
    <hr />
    <div class="text-left">
        <h4 class="display-8">Görevlerinizi Yönetin</h4>
        <a class="btn btn-outline-info text-info" asp-area="" asp-controller="TodoItem" asp-action="Index" asp-route-listId="@ViewBag.TodoListId">Yeniden Yükle</a>
        <a class="btn btn-outline-secondary text-dark" asp-area="" asp-controller="TodoItem" asp-action="Add" asp-route-listId="@ViewBag.TodoListId">Görev Oluştur</a>

        <div id="todoItems" class="row"></div>
    </div>
    <script>
        function getTodoItems() {
            getApi("/api/TodoItem?listId=@ViewBag.TodoListId",
                function (response) {
                    let todoItemInnerData = "";
                    if (response.data.todoItems && response.data.todoItems.length > 0) {
                    response.data.todoItems.forEach((item) => {
                        todoItemInnerData += '<div class="col-md-4 mt-3">';
                        todoItemInnerData += '<div class="card" style="width: 18rem;">';
                        todoItemInnerData += '<div class="card-body">';
                        if (item.status == "Active") {
                            todoItemInnerData += '<span class="badge badge-primary right">' + item.statusText + '</span>';
                        }
                        else {
                            todoItemInnerData += '<span class="badge badge-success right">' + item.statusText + '</span>';
                        }
                        todoItemInnerData += '<h5 class="card-title">' + item.title + '</h5>';
                        todoItemInnerData += '<p class="card-text">' + item.note + '</p>';
                        todoItemInnerData += '<div class="btn-group" role="group" aria-label="">';
                        todoItemInnerData += '<a href="/TodoItem/Edit?listId=@ViewBag.TodoListId&id=' + item.id + '" class="btn btn-outline-primary">Düzenle</a>';
                        todoItemInnerData += '<a href="javascript:void(0);" class="btn btn-outline-danger btnDelete" todoitem-id="' + item.id + '">Sil</a>';
                        todoItemInnerData += '</div>';
                        todoItemInnerData += '</div>';
                        todoItemInnerData += '</div>';
                        todoItemInnerData += '</div>';
                        });
                    }
                    $('#todoItems').empty();
                    $('#todoItems').wrapInner(todoItemInnerData);
                },
                function (error) { console.log("error => ", error); }
            );
        }

        getTodoItems();

        $(document).on("click", ".btnDelete", function () {
            let id = $(this).attr("todoitem-id");

            deleteApi("/api/TodoItem/" + id,
                function (response) {
                    getTodoItems();
                },
                function (error) { console.log("error => ", error); }
            );
        });

    </script>
</div>
