﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoList - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/api-manager.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ToDoList</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item user-anonymous">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#createUserModal">Kullanıcı Kayıt</a>
                        </li>
                        <li class="nav-item user-anonymous">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#loginUserModal">Kullanıcı Giriş</a>
                        </li>
                        <li class="nav-item user-authorized" style="display:none;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TodoList" asp-action="Index">Listelerim</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item user-authorized" style="display:none;">
                    <a href="javascript:void(0);" class="nav-link text-dark" id="userLogout">Hoşgeldiniz, Burak KIRBAĞ. [x]</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2018 - ToDoList
        </div>
    </footer>

    <div class="modal fade" id="loginUserModal" tabindex="-1" role="dialog" aria-labelledby="loginUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginUserModalLabel">Kullanıcı Girişi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">E-Posta Adresiniz</label>
                    <input type="email" id="loginUserEmail" name="loginUserEmail" class="form-control" />
                    <label class="col-form-label">Şifreniz</label>
                    <input type="password" id="loginUserPassword" name="loginUserPassword" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <a href="javascript:void(0);" class="btn btn-primary" id="btnUserLogin">Giriş Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on("click", "#btnUserLogin", function () {

            let userEmail = $('#loginUserEmail').val();
            let userPassword = $('#loginUserPassword').val();

            postApi("/api/Auth",
                { email: userEmail, password: userPassword },
                function (response) {
                    localStorage.setItem('user_token', response.data.token);
                    localStorage.setItem('user_firstName', response.data.firstName);
                    localStorage.setItem('user_lastName', response.data.lastName);
                    $("#loginUserModal").modal('hide');
                    $('.user-anonymous').css('display', 'none');
                    $('.user-authorized').css('display', 'block');
                },
                function (error) { }
            );
        });
    </script>

    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Kullanıcı Kayıt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">Adınız</label>
                    <input type="text" id="createUserFirstName" name="createUserFirstName" class="form-control" />
                    <label class="col-form-label">Soyadınız</label>
                    <input type="text" id="createUserLastName" name="createUserLastName" class="form-control" />
                    <label class="col-form-label">E-Posta Adresiniz</label>
                    <input type="email" id="createUserEmail" name="createUserEmail" class="form-control" />
                    <label class="col-form-label">Şifreniz</label>
                    <input type="password" id="createUserPassword" name="createUserPassword" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <a href="javascript:void(0);" class="btn btn-primary" id="btnUserCreate">Kayıt Ol</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on("click", "#btnUserCreate", function () {

            let userFirstName = $('#createUserFirstName').val();
            let userLastName = $('#createUserLastName').val();
            let userEmail = $('#createUserEmail').val();
            let userPassword = $('#createUserPassword').val();

            postApi("/api/Account",
                { firstName: userFirstName, lastName: userLastName, email: userEmail, password: userPassword },
                function (response) {
                    localStorage.setItem('user_token', response.data.token);
                    localStorage.setItem('user_firstName', response.data.firstName);
                    localStorage.setItem('user_lastName', response.data.lastName);
                    $("#createUserModal").modal('hide');
                    $('.user-anonymous').css('display', 'none');
                    $('.user-authorized').css('display', 'block');
                    window.location = "/";
                },
                function (error) { }
            );
        });
    </script>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)


</body>
</html>
