﻿@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">ToDoList'e Hoşgeldiniz</h1>
    <hr />
    <div class="text-left">
        <h5 class="display-8">ToDoList Kullanarak</h5>
        <ul>
            <li>Görev listeleri oluşturabilirsiniz.</li>
            <li>Görev listeleri için görevler oluşturabilirsiniz.</li>
            <li>Görevlere hatırlatmalar ekleyerek e-posta bildirimleri alabilirsiniz.</li>
        </ul>
    </div>
    <script>

        //getApi("/api/TodoList",
        //    function (response) { console.log("response => ", response); },
        //    function (error) { console.log("error => ", error); }
        //);

        //const todoLists = postApi("/api/TodoList", { firstName: "Burak" },
        //    function (response) { console.log("response => ", response); },
        //    function (error) { console.log("error => ", error); }
        //);
    </script>
</div>
